rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /publicFacilities/{facilityId} {
      allow read: if true;
      allow write: if false;
    }

    match /syncMetadata/{documentId} {
      allow read: if false;
      allow write: if false;
    }
  }
}
